# Build artifacts
obj/
*.o
*.d
*.lst
*.map
*.elf
*.bin
*.hex
*.su
*.ko
*.obj
*.ilk
*.exp
*.gch
*.pch
*.lib
*.a
*.la
*.lo
*.dll
*.so
*.so.*
*.dylib
*.exe
*.out
*.app
*.dSYM/
*.idb
*.pdb
*.dwo

# IDE / editor
.vscode/
.idea/
*.swp
*.swo
*~

# OS
Thumbs.db
.DS_Store

# MounRiver Studio temp / metadata
.metadata/
.settings/
*.launch

# Logs
*.log
